{% load static %}
{% load evelinks %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ESI Token Selection</title>

        <link rel="stylesheet" id="select-esi-token" href="{% static 'tnnt_templates/css/select-esi-token.min.css' %}" type="text/css" media="all">
    </head>

    <body class="bg-dark">
        <!-- Requested Scopes -->
        <div class="container">
            <div class="container-inner">
                <div class="card">
                    <div class="card-header text-center">Scopes Requested</div>
                    <div class="card-body text-center">
                        <p>
                            {% for token in tokens %}
                                {% for scope in token.scopes.all %}
                                    <span class="label label-requested-scope" data-toggle="tooltip" data-placement="top" title="{{ scope.help_text }}">
                                        {{ scope.friendly_name }}
                                    </span>
                                {% endfor %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Character Selection -->
        <div class="container">
            <div class="container-inner">
                <ul class="cards_container">
                    {% for token in tokens|dictsort:"character_name" %}
                        <li class="cards_item">
                            <div class="card">
                                <div class="card-header">{{ token.character_name }}</div>

                                <div class="card-body card__content">
                                    <img src="{{ token.character_id|character_portrait_url:256 }}" alt="{{ token.character_name }}">
                                </div>

                                <div class="card-footer">
                                    <form method="post">
                                        {% csrf_token %}

                                        <input type="hidden" name="_token" value="{{ token.pk }}">

                                        <button class="select-character" type="submit" title="Select {{ token.character_name }}" formmethod="post">Select</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                    <li class="cards_item">
                        <div class="card">
                            <div class="card-header">Add Character</div>

                            <div class="card-body card__content">
                                <img src="{% static 'tnnt_templates/images/no_avatar.jpg' %}" alt="Add character">
                            </div>

                            <div class="card-footer">
                                <form method="post">
                                    {% csrf_token %}

                                    <input type="hidden" name="_add" value="True">

                                    <button class="btn-new-character-sso" type="submit" name="go">
                                        <img src="{% static 'tnnt_templates/images/eve-sso-login-black-small.png' %}" title="Add new character by logging in with EVE Online" alt="Add Character">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>

