{% load i18n %}
{% load evelinks %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-lg-2">{% translate "Operation Name" %}</th>
                <th class="col lg-2">{% translate "Doctrine" %}</th>
                <th class="col-lg-2">{% translate "Form Up System" %}</th>
                <th class="col-lg-1">{% translate "Start Time" %}</th>
                <th class="col-lg-1">{% translate "Local Time" %}</th>
                <th class="col-lg-1">{% translate "Duration" %}</th>
                <th class="col-lg-1">{% translate "FC" %}</th>

                {% if perms.auth.optimer_management %}
                    <th class="text-center col-lg-1">{% translate "Creator" %}</th>
                    <th class="text-center col-lg-1">{% translate "Action" %}</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for ops in timers %}
                <tr>
                    <td>{{ ops.operation_name }}</td>
                    <td>{{ ops.doctrine }}</td>
                    <td>
                        <a href="{{ ops.system|dotlan_solar_system_url }}">{{ ops.system }}</a>
                    </td>
                    <td nowrap>{{ ops.start | date:"Y-m-d H:i" }}</td>
                    <td nowrap><div id="localtime{{ ops.id }}"></div><div id="countdown{{ ops.id }}"></div></td>
                    <td>{{ ops.duration }}</td>
                    <td>{{ ops.fc }}</td>
                    {% if perms.auth.optimer_management %}
                        <td>{{ ops.eve_character }}</td>
                        <td>
                            <a href="{% url 'optimer:remove' ops.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href="{% url 'optimer:edit' ops.id %}" class="btn btn-info">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
