{% extends "fittings/base.html" %}

{% load aa_i18n %}
{% load i18n %}
{% load humanize %}
{% load filters %}
{% load evelinks %}

{% block page_title %}{% translate "Doctrine List" %}{% endblock %}

{% block fittings_block %}
    {% if msg %}
        <div class="alert alert-{{ msg.0 }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times</span>
            </button>

            <h4>
                {% if msg.0 == 'danger' %}
                    {% translate "Oh No!" %}
                {% elif msg.0 == 'success' %}
                    {% translate "Success!" %}
                {% endif %}
            </h4>
            <p>{{ msg.1 }}</p>
        </div>
    {% endif %}

    <div>
        <div class="card card-default mb-3">
            <div class="card-header">
                <div class="card-title mb-0">{% translate "Doctrine List" %}</div>
            </div>

            <div class="card-body">
                {% include "fittings/partials/doctrine-list-table.html" %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/datatables-js-bs5.html' %}

    {% get_datatables_language_static LANGUAGE_CODE as DT_LANG_PATH %}

    <script>
        $(document).ready(() => {
            {% if docs %}
                $('#docTable').DataTable({
                    language: {
                        url: '{{ DT_LANG_PATH }}'
                    },
                    order: [[ 0, "asc" ]],
                });
            {% endif %}

            $('[data-bs-tooltip="aa-fittings"]').tooltip();
        });
    </script>
{% endblock %}
