{% extends 'fittings/base.html' %}

{% load i18n %}
{% load filters %}
{% load static %}
{% load evelinks %}
{% load fittings_skill_tree %}

{% block page_title %}{{ fit.name }} {% translate "Fitting" %}{% endblock %}

{% block fittings_block %}
    {% include "fittings/partials/view-fit/modals.html" %}

    <div class="row">
        <div class="col-md-3">
            {% include "fittings/partials/view-fit/fitting-information.html" %}

            <!-- Skill Overview (powered by `corptools`) -->
            {% character_skill_overview %}
        </div>

        <div class="col-md-9">
            {% include "fittings/partials/view-fit/fitting.html" %}
            {% include "fittings/partials/view-fit/fitting-details.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_javascript %}
    {% include 'bundles/clipboard-js.html' %}

    <script>
        let clipboard = new ClipboardJS('#buyAllButton');

        $(document).ready(() => {
            $('[data-bs-tooltip="aa-fittings"]').tooltip();
        });
    </script>
{% endblock %}
