/* General DataTables styles
------------------------------------------------------------------------------------- */
@media all {
    .dataTables_wrapper > .form-inline {
        margin-bottom: 0.625rem;
    }

    .dataTables_wrapper > .form-inline select {
        margin-bottom: 0.625rem;
        margin-right: 0.625rem;
    }

    .dataTables_wrapper > .form-inline select:last-child {
        margin-right: 0;
    }

    .dataTables_length select {
        margin: 0 0.625rem;
    }
}

@media (min-width: 768px) {
    .dataTables_wrapper > .form-inline select:first-child {
        margin-left: 0.625rem;
    }
}

/* App: Fittings
------------------------------------------------------------------------------------- */
@media all {
    .aa-fittings-add-dropdown {
        margin-bottom: 0.5em;
    }
}

@media all and (min-width: 768px) {
    .aa-fittings-add-dropdown {
        margin-bottom: 0;
        margin-top: 0.5em;
    }
}

/* App: AA Blueprints
------------------------------------------------------------------------------------- */
@media all {
    .template-light-mode .aa-blueprints .table-striped > tbody > tr.tr-group,
    .template-light-mode .aa-blueprints .tr-group {
        background-color: rgb(62, 68, 76) !important;
        font-weight: bold;
    }
}

/* App :: AA Memberaudit
------------------------------------------------------------------------------------- */
@media all {
    .template-light-mode .aa-memberaudit .sidebar_character > a,
    .template-dark-mode .aa-memberaudit .sidebar_character > a {
        color: rgb(255, 255, 255);
    }

    .template-light-mode .aa-memberaudit .sidebar_character:hover > a,
    .template-light-mode .aa-memberaudit .sidebar_character.active > a,
    .template-dark-mode .aa-memberaudit .sidebar_character:hover > a,
    .template-dark-mode .aa-memberaudit .sidebar_character.active > a {
        background-color: rgb(62, 68, 76);
    }

    .template-light-mode .aa-memberaudit .nav-tabs > li.active > a,
    .template-dark-mode .aa-memberaudit .nav-tabs > li.active > a {
        background-color: rgb(62, 68, 76) !important;
        color: rgb(255, 255, 255) !important;
    }

    .template-light-mode .aa-memberaudit .table > tbody > .table-group > td,
    .template-light-mode .aa-memberaudit .table > tbody > .table-group > td {
        background-color: rgb(62, 68, 76);
        color: rgb(255, 255, 255);
        font-weight: bold;
    }

    .template-light-mode .aa-memberaudit .cards_container .card,
    .template-dark-mode .aa-memberaudit .cards_container .card {
        background-color: rgba(100, 100, 100, 0.5);
    }

    .aa-memberaudit .cards_container {
        margin: 0 0 2rem 0;
    }
}

/* App: AA Sovtimer
------------------------------------------------------------------------------------- */
@media all {
    .aa-sovtimer .table > tbody > tr > td {
        vertical-align: middle;
    }

    .aa-sovtimer .aa-sovtimer-trend {
        cursor: default;
        display: inline-block;
        left: 0.3125rem;
        margin-right: 0.625rem;
        position: relative;
        top: 0.34375rem;
    }

    .aa-sovtimer .aa-sov-timer-zkb-icon {
        margin-left: 0.5rem;
    }

    .aa-sovtimer .aa-sov-timer-zkb-icon > img {
        position: relative;
        top: -2px;
    }

    .aa-sovtimer .aa-sovtimer-campaigns tr td:last-child {
        padding-top: 0;
        white-space: nowrap;
    }

    .aa-sovtimer .aa-sovtimer-timer-elapsed {
        color: rgb(253, 126, 20);
        text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.3);
    }
}

/* App: AA Structures
------------------------------------------------------------------------------------- */
@media all {
    .template-light-mode .nav-tabs > li.active > a {
        background-color: rgb(62, 68, 76) !important;
        color: rgb(255, 255, 255) !important;
    }
}

/* App: Corpstat
------------------------------------------------------------------------------------- */
@media all {
    .corpstat-corp-dropdown.dropdown-menu > li > a {
        padding: 3px 36px 3px 20px;
    }
}

/* App: AA Fleet Pings
------------------------------------------------------------------------------------- */
@media all {
    .aa-fleetpings-pingtext {
        top: 3.6875rem;
    }
}

/* App: AA Forum
------------------------------------------------------------------------------------- */
@media all {
    .aa-forum .aa-forum-admin-panel-aa-forum-category .panel-body {
        min-height: auto;
    }

    .aa-forum .boards-sortable > li {
        background-color: rgba(62, 68, 76, 0.6);
    }

    .aa-forum .panel-aa-forum-topic-list {
        margin: 1.25rem 0;
    }

    .aa-forum .aa-forum-topic-row .aa-forum-topic:hover,
    .aa-forum .panel-aa-forum-category .aa-forum-board:hover {
        background-color: rgba(73, 81, 90, 0.8);
    }

    .aa-forum .aa-forum-topic-locked .aa-forum-topic:hover {
        background-color: rgba(185, 199, 219, 0.25);
    }

    .aa-forum .aa-forum-topic-sticky .aa-forum-topic:hover {
        background-color: rgba(255, 220, 104, 0.25);
    }

    .aa-forum .aa-forum-message-body {
        border-top: 1px solid rgba(200, 200, 200, 0.25);
    }

    .aa-forum .label-aa-forum-topic-new-message {
        margin-left: 0.5rem;
    }

    /* SumoSelect
    --------------------------------------------------------------------------------- */
    .aa-forum .SumoSelect {
        color: rgb(54, 54, 54);
    }

    .aa-forum .SumoSelect > .CaptionCont > span.placeholder {
        color: rgb(62, 68, 76);
    }

    .aa-forum .aa-forum-search-results-total-number {
        font-size: 1.25rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    .aa-forum .aa-forum-search-result-counter {
        font-size: 2rem;
        font-weight: bolder;
        margin-right: 1rem;
        min-width: 50px;
        padding: 1rem;
    }

    .aa-forum .navbar .aa-forum-search-box {
        margin-left: -28px;
        margin-right: -28px;
    }
}
