@media all {
    img {
        border-radius: .25em;
    }

    .template-light-mode .nav-pills > li > a.active {
        background-color: rgb(236, 240, 241);
    }

    .template-dark-mode .nav-pills > li > a.active {
        background-color: rgb(48, 48, 48);
    }
}
