{% load evelinks %}
{% load tnnt_templates %}

<meta name="author" content="{{ TNNT_TEMPLATE_ENTITY_NAME }}">

{% if request.GET.next and request.GET.next|startswith:"/forum/" %}
    <meta property="og:title" content="{{ TNNT_TEMPLATE_ENTITY_NAME }} Forum">

    <meta name="description" content="Our beloved Forum. Discuss here at your hearts content. You might also find some useful information here, who knows?">
    <meta property="og:description" content="Our beloved Forum. Discuss here at your hearts content. You might also find some useful information here, who knows?">
{% else %}
    <meta property="og:title" content="{{ TNNT_TEMPLATE_ENTITY_NAME }} Authentication System">

    <meta name="description" content="Authentication system to get access to {{ TNNT_TEMPLATE_ENTITY_NAME }} services, like Discord, Mumble, Forums and more.">
    <meta property="og:description" content="Authentication system to get access to {{ TNNT_TEMPLATE_ENTITY_NAME }} services, like Discord, Mumble, Forums and more.">
{% endif %}

<meta property="og:image" content="{% if TNNT_TEMPLATE_ENTITY_ID == 1 %}{{ TNNT_TEMPLATE_AA_LOGO }}{% else %}{% if TNNT_TEMPLATE_ENTITY_TYPE == 'alliance' %}{{ TNNT_TEMPLATE_ENTITY_ID|alliance_logo_url:256 }}{% elif TNNT_TEMPLATE_ENTITY_TYPE == 'corporation' %}{{ TNNT_TEMPLATE_ENTITY_ID|corporation_logo_url:256 }}{% endif %}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ request.META.HTTP_HOST }}">
<meta property="og:url" content="{{ SITE_URL }}{{ request.path }}">
