<!DOCTYPE html>
{% load static %}
{% load evelinks %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="og:image" content="{% if TNNT_TEMPLATE_ENTITY_ID == 1 %}{{ TNNT_TEMPLATE_AA_LOGO }}{% else %}{% if TNNT_TEMPLATE_ENTITY_TYPE == 'alliance' %}{{ TNNT_TEMPLATE_ENTITY_ID|alliance_logo_url:256 }}{% elif TNNT_TEMPLATE_ENTITY_TYPE == 'corporation' %}{{ TNNT_TEMPLATE_ENTITY_ID|corporation_logo_url:256 }}{% endif %}{% endif %}">
        <meta name="og:type" content="website">
        <meta name="og:site_name" content="auth.terra-nanotech.de">
        <meta name="og:title" content="{{ TNNT_TEMPLATE_ENTITY_NAME }} Authentication">
        <meta name="og:description" content="Authentication System to get access to {{ TNNT_TEMPLATE_ENTITY_NAME }} services, like Discord, Mumble, Forums and more.">

        {% include 'allianceauth/icons.html' %}

        <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

        {% include 'bundles/bootstrap-css.html' %}
        {% include 'bundles/fontawesome.html' %}
        {% block extra_include %}
        {% endblock %}

        <link rel="stylesheet" href="{% static 'tnnt_templates/css/terra-nanotech-public.min.css' %}" type="text/css">

        <style>
            {% block extra_style %}
            {% endblock %}
        </style>
    </head>

    <body>
        <div class="auth-login-box">
            {% block content %}
            {% endblock %}
        </div>

        <div class="tnnt-aa-svg-wrapper">
            {% include "../bundles/svg/ccp_sso.svg" %}
        </div>
    </body>
</html>
