/* All my apps
------------------------------------------------------------------------------------- */

@media all {
    div:has(> div.app-translation-footer) {
        border-color: rgb(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important; /* stylelint-disable-line color-function-notation */

        --bs-border-opacity: 1;
    }
}

/* END All my apps
------------------------------------------------------------------------------------- */

/* CKEditor 5 style fixes
------------------------------------------------------------------------------------- */

@media all {
    .ck-rounded-corners {
        --ck-border-radius: var(--bs-border-radius);
    }

    .ck-editor__editable, .ck-editor__editable a {
        color: initial;
    }

    .ck-word-count {
        color: var(--bs-secondary-color) !important;

        --bs-text-opacity: 1;
    }

    .ck-content blockquote {
        border-left: 2px solid var(--bs-secondary-color) !important;
        padding: 1rem 1rem 0;
    }

    .ck-content pre {
        border: 1px solid var(--bs-secondary-color) !important;
        border-radius: var(--bs-border-radius) !important;
        padding: 1rem !important;
    }
}

/* END CKEditor 5 style fixes
------------------------------------------------------------------------------------- */

/* App: AA Sovtimer
------------------------------------------------------------------------------------- */

@media all {
    .aa-sovtimer .aa-sovtimer-timer-elapsed {
        color: rgb(253 126 20);
        text-shadow: 1px 1px 1px rgb(255 0 0 / 30%);
    }

    .aa-sovtimer-active-campaign {
        color: var(--bs-table-color);

        --bs-table-active-bg: rgb(240 111 107);
        --bs-table-bg: var(--bs-danger);
        --bs-table-border-color: rgb(241 127 124);
        --bs-table-hover-bg: rgb(239 107 103);
        --bs-table-striped-bg: rgb(239 103 99);
    }

    .aa-sovtimer-active-campaign td {
        background-color: rgb(238 95 91 / 25%) !important;
    }

    .aa-sovtimer-upcoming-campaign {
        color: var(--bs-table-color);

        --bs-table-active-bg: rgb(249 159 31);
        --bs-table-bg: var(--bs-warning);
        --bs-table-border-color: rgb(249 169 56);
        --bs-table-hover-bg: rgb(249 156 25);
        --bs-table-striped-bg: rgb(248 153 18);
    }

    .aa-sovtimer-upcoming-campaign td {
        background-color: rgb(248 148 6 / 25%) !important;
    }

    .table-striped.aa-sovtimer-campaigns > tbody > tr:nth-of-type(odd) > *,
    .table-striped.aa-sovtimer-campaigns > tbody > tr:nth-of-type(even) > * {
        --bs-table-color-type: var(--bs-table-striped-color) !important;
    }
}

/* END App: AA Sovtimer
------------------------------------------------------------------------------------- */

/* App: AA Forum
------------------------------------------------------------------------------------- */

@media all {
    .aa-forum .aa-forum-header {
        margin-bottom: 1rem;
    }

    .aa-forum .aa-forum-admin-panel-aa-forum-category .panel-body {
        min-height: auto;
    }

    .aa-forum .boards-sortable > li {
        background-color: rgb(62 68 76 / 60%);
    }

    .aa-forum .panel-aa-forum-topic-list {
        margin: 1.25rem 0;
    }

    .aa-forum .aa-forum-topic-row .aa-forum-topic:hover,
    .aa-forum .panel-aa-forum-category .aa-forum-board:hover,
    .aa-forum .panel-aa-forum-personal-messages-item:hover {
        background-color: rgb(73 81 90 / 65%);
    }

    .aa-forum .aa-forum-topic-locked .aa-forum-topic:hover {
        background-color: rgb(185 199 219 / 25%);
    }

    .aa-forum .aa-forum-topic-sticky .aa-forum-topic:hover {
        background-color: rgb(255 220 104 / 25%);
    }

    .aa-forum .panel-aa-forum-personal-messages-item-header {
        border-bottom: 1px solid rgb(200 200 200 / 25%);
    }

    .aa-forum .aa-forum-message-body,
    .aa-forum .aa-forum-message-body-author-signature {
        border-top: 1px solid rgb(200 200 200 / 25%);
    }

    .aa-forum .label-aa-forum-topic-new-message {
        margin-left: 0.5rem;
    }

    .aa-forum .aa-forum-breadcrumb ul {
        margin: 0;
    }

    .aa-forum .btn-aa-forum-topic-moderation {
        border: none;
    }

    #aa-forum-form-search-menu .has-search svg {
        fill: var(--font-color-default);
    }

    .aa-forum .aa-forum-search-results-total-number {
        font-size: 1.25rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    .aa-forum .aa-forum-search-result-counter {
        font-size: 2rem;
        font-weight: bolder;
        margin-right: 1rem;
        min-width: 50px;
        padding: 1rem;
    }

    .aa-forum #aa-forum-form-search-menu {
        padding: 10px 0;
    }

    .aa-forum .aa-forum-breadcrumb {
        padding: 0.2rem;
    }

    .aa-forum .aa-forum-legend > span {
        margin-right: 3rem;
    }

    .aa-forum li.aa-forum-messages-sidebar-menu-item:has(a.active) {
        background-color: var(--background-color-light-transparency) !important;
    }

    .aa-forum li.aa-forum-messages-sidebar-menu-item > a.active {
        color: inherit !important;
    }

    /* SVG icons
    --------------------------------------------------------------------------------- */

    html[data-theme="terra-nanotech"] .aa-forum svg.svg-icon-post {
        fill: rgb(133 133 133);
    }

    html[data-theme="terra-nanotech"] .aa-forum svg.svg-icon-post-new {
        fill: rgb(255 255 255);
    }
}

@media all and (min-width: 768px) {
    .aa-forum #aa-forum-form-search-menu {
        padding: 0;
    }

    .aa-forum .aa-forum-breadcrumb ul li:first-child {
        padding-left: 0;
    }
}

/* END App: AA Forum
------------------------------------------------------------------------------------- */

/* App: Allianceauth Corpstats 2
------------------------------------------------------------------------------------- */

@media all {
    #aa-corpstats-corpsearch .has-search svg {
        fill: var(--font-color-default);
    }
}

/* END App: Allianceauth Corpstats 2
------------------------------------------------------------------------------------- */

/* App: AA ESI Status
------------------------------------------------------------------------------------- */

@media all {
    #esi-status-dashboard-panel svg.svg-esi-logo {
        height: auto;
        margin-bottom: 0.2rem;
    }
}

/* END App: AA ESI Status
------------------------------------------------------------------------------------- */

/* APP: Fittings
------------------------------------------------------------------------------------- */

@media all {
    .aa-fittings #fitting-panel {
        height: 398px;
        margin: 0 auto;
        width: 398px;
        z-index: 3;
    }

    .aa-fittings #fitting-panel .fitting-item {
        height: 32px;
        width: 32px;
    }

    .aa-fittings #fitting-panel #mask > img {
        height: 398px;
        width: 398px;
    }

    .aa-fittings #fitting-panel #mask,
    .aa-fittings #fitting-panel #highx,
    .aa-fittings #fitting-panel #midx,
    .aa-fittings #fitting-panel #lowx,
    .aa-fittings #fitting-panel #rigx,
    .aa-fittings #fitting-panel #subx {
        height: 398px;
        width: 398px;
        z-index: -1;
    }

    .aa-fittings #fitting-panel #bigship {
        height: 256px;
        left: 72px;
        top: 71px;
        width: 256px;
        z-index: -2;
    }

    .aa-fittings #fitting-panel #bigship > img {
        height: 256px;
        width: 256px;
    }

    .aa-fittings #fitting-panel #high1 {
        left: 73px;
        top: 60px;
    }

    .aa-fittings #fitting-panel #high2 {
        left: 102px;
        top: 42px;
    }

    .aa-fittings #fitting-panel #high3 {
        left: 134px;
        top: 27px;
    }

    .aa-fittings #fitting-panel #high4 {
        left: 169px;
        top: 21px;
    }

    .aa-fittings #fitting-panel #high5 {
        left: 203px;
        top: 22px;
    }

    .aa-fittings #fitting-panel #high6 {
        left: 238px;
        top: 30px;
    }

    .aa-fittings #fitting-panel #high7 {
        left: 270px;
        top: 45px;
    }

    .aa-fittings #fitting-panel #high8 {
        left: 295px;
        top: 64px;
    }

    .aa-fittings #fitting-panel #mid1 {
        left: 26px;
        top: 140px;
    }

    .aa-fittings #fitting-panel #mid2 {
        left: 24px;
        top: 176px;
    }

    .aa-fittings #fitting-panel #mid3 {
        left: 23px;
        top: 212px;
    }

    .aa-fittings #fitting-panel #mid4 {
        left: 30px;
        top: 245px;
    }

    .aa-fittings #fitting-panel #mid5 {
        left: 46px;
        top: 278px;
    }

    .aa-fittings #fitting-panel #mid6 {
        left: 69px;
        top: 304px;
    }

    .aa-fittings #fitting-panel #mid7 {
        left: 100px;
        top: 328px;
    }

    .aa-fittings #fitting-panel #mid8 {
        left: 133px;
        top: 342px;
    }

    .aa-fittings #fitting-panel #low1 {
        left: 344px;
        top: 143px;
    }

    .aa-fittings #fitting-panel #low2 {
        left: 350px;
        top: 178px;
    }

    .aa-fittings #fitting-panel #low3 {
        left: 349px;
        top: 213px;
    }

    .aa-fittings #fitting-panel #low4 {
        left: 340px;
        top: 246px;
    }

    .aa-fittings #fitting-panel #low5 {
        left: 323px;
        top: 277px;
    }

    .aa-fittings #fitting-panel #low6 {
        left: 300px;
        top: 304px;
    }

    .aa-fittings #fitting-panel #low7 {
        left: 268px;
        top: 324px;
    }

    .aa-fittings #fitting-panel #low8 {
        left: 234px;
        top: 338px;
    }

    .aa-fittings #fitting-panel #rig1 {
        left: 148px;
        top: 259px;
    }

    .aa-fittings #fitting-panel #rig2 {
        left: 185px;
        top: 267px;
    }

    .aa-fittings #fitting-panel #rig3 {
        left: 221px;
        top: 259px;
    }

    .aa-fittings #fitting-panel #sub1 {
        left: 117px;
        top: 131px;
    }

    .aa-fittings #fitting-panel #sub2 {
        left: 147px;
        top: 108px;
    }

    .aa-fittings #fitting-panel #sub3 {
        left: 184px;
        top: 98px;
    }

    .aa-fittings #fitting-panel #sub4 {
        left: 221px;
        top: 107px;
    }
}

/* END APP: Fittings
------------------------------------------------------------------------------------- */

/* App: AA SRP
------------------------------------------------------------------------------------- */

@media all {
    .aa-srp .card-srp-request-bulk-actions {
        --background-color-light-transparency: rgb(58 63 68 / 95%);
    }
}

/* END App: AA SRP
------------------------------------------------------------------------------------- */
