/* Bootstrap theme overrides
------------------------------------------------------------------------------------- */
@media all {
    html {
        font-family: var(--font-family-default);
        font-size: 100%;
    }

    body {
        background: var(--background-body-default);
        background-color: var(--background-color-default);
        background-size: cover;
        color: var(--font-color-default);
        font-family: var(--font-family-default);
        font-size: 100%;
    }

    body,
    body > nav.navbar,
    ul#sidebar-menu > li:has(> i.active),
    .modal.fade.show {
        backdrop-filter: var(--backdrop-filter-default);
    }

    body,
    #sidebar > div > div,
    body > main > div + div,
    ul#sidebar-menu > li:has(> i.active),
    .card {
        background-color: var(--background-color-light-transparency) !important;
    }

    #sidebar > div > div > div > div {
        background-color: transparent !important;
    }

    .table {
        --bs-table-bg: var(--background-color-light-transparency) !important;
    }

    .nav-pills .nav-link {
        background-image: none;
        border: 1px solid transparent;
    }

    .nav-pills .nav-link.active, .nav-pills .nav-link:hover {
        background-image: none;
        filter: none;
        backdrop-filter: var(--backdrop-filter-default);
        background-color: var(--background-color-light-transparency) !important;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-default);
        font-weight: 400;
    }

    .tooltip {
        font-family: var(--font-family-default);
    }

    .popover {
        font-family: var(--font-family-default);
    }

    code {
        background-color: rgb(240 240 240);
        color: rgb(58 63 68);
        font-family: var(--font-family-code);
    }

    @supports (font-variation-settings: normal) {
        code {
            font-family: var(--font-family-code-font-variation);
        }
    }

    .dashboard-panel-software-version ul > li > .btn {
        border: none;
        color: inherit;
    }

    td p:last-child {
        margin-bottom: 0;
    }

    .text-decoration-none {
        text-decoration: none !important;
    }

    blockquote {
        font-size: 0.95rem;
    }

    .aa-user-info button[data-bs-toggle="dropdown"] {
        border: none;
    }

    .progress-bar {
        --bs-text-opacity: 1;

        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important; /* stylelint-disable-line color-function-notation */
        text-shadow: -1px -1px 0 rgba(0 0 0 / 30%);
    }
}
