/* roboto-100 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src:
        local(""),
        url("../../fonts/roboto/roboto-100.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-100italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 100;
    src:
        local(""),
        url("../../fonts/roboto/roboto-100-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-100-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src:
        local(""),
        url("../../fonts/roboto/roboto-300.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    src:
        local(""),
        url("../../fonts/roboto/roboto-300-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-300-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    src:
        local(""),
        url("../../fonts/roboto/roboto-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src:
        local(""),
        url("../../fonts/roboto/roboto-regular.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src:
        local(""),
        url("../../fonts/roboto/roboto-500.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    src:
        local(""),
        url("../../fonts/roboto/roboto-500-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-500-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 700;
    src:
        local(""),
        url("../../fonts/roboto/roboto-700-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-700-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src:
        local(""),
        url("../../fonts/roboto/roboto-700.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    src:
        local(""),
        url("../../fonts/roboto/roboto-900.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900italic - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    src:
        local(""),
        url("../../fonts/roboto/roboto-900-italic.woff2") format("woff2"),
        url("../../fonts/roboto/roboto-900-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
