/* Bootstrap defaults overrides
------------------------------------------------------------------------------------- */
@media all {
    .progress-bar {
        color: rgb(var(--bs-light-rgb), var(--bs-text-opacity)) !important; /* stylelint-disable-line color-function-notation */

        --bs-text-opacity: 1;

        text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
    }

    .table {
        --bs-table-bg: var(--background-color-light-transparency) !important;
    }

    .btn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
    }

    .btn-group-sm > .btn, .btn-sm {
        --bs-btn-padding-x: 0.5rem;
        --bs-btn-padding-y: 0.25rem;
    }

    .btn-group-lg > .btn, .btn-lg {
        --bs-btn-padding-x: 1rem;
        --bs-btn-padding-y: 0.5rem;
    }
}

/* Bootstrap fixes
------------------------------------------------------------------------------------- */
@media all {
    .navbar-brand {
        margin-right: var(--bs-navbar-brand-margin-end);
        padding-left: 0;
    }

    @keyframes progress-bar-stripes {
        from {
            background-position: 40px 0
        }

        to {
            background-position: 0 0
        }
    }

    .navbar .nav-link {
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    }

    .navbar .nav-link,
    .navbar.bg-primary .nav-link.active,
    .navbar.bg-primary .nav-link:active,
    .navbar.bg-secondary .nav-link:hover {
        border-left: none !important;
    }

    .navbar .nav-link,
    .navbar-brand {
        border-right: none !important;
    }

    .form-control {
        padding: .375rem .75rem;
    }

    .form-select {
        padding: .375rem 2.25rem .375rem .75rem;
    }
}

/* Terra Nanotech theme
------------------------------------------------------------------------------------- */
@media all {
    html {
        font-family: var(--font-family-default);
    }

    body {
        background: var(--background-body-default) !important;
        background-size: cover !important;
        font-family: var(--font-family-default);
    }

    .blur-background {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    .blur-background,
    body > nav.navbar,
    .modal.fade.show {
        backdrop-filter: var(--backdrop-filter-default);
    }

    body,
    #sidebar > div > div,
    body > main > div + div,
    .card {
        background-color: var(--background-color-light-transparency) !important;
    }

    #sidebar > div > div > div > div {
        background-color: transparent !important;
    }

    .nav-pills .nav-link {
        background-image: none;
        border: 1px solid transparent;
    }

    .nav-pills .nav-link.active, .nav-pills .nav-link:hover {
        backdrop-filter: var(--backdrop-filter-default);
        background-color: var(--background-color-light-transparency) !important;
        background-image: none;
        filter: none;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-default);
        font-weight: 400;
    }

    .tooltip {
        font-family: var(--font-family-default);
    }

    .popover {
        font-family: var(--font-family-default);
    }

    code {
        border-radius: var(--bs-border-radius) !important;
        font-family: var(--font-family-code);
        padding: 0.25rem !important;
    }

    pre code {
        display: block;
    }

    #aa-dashboard-panel-software-version ul > li > .btn {
        border: none;
        color: inherit;
    }

    td p:last-child {
        margin-bottom: 0;
    }

    .text-decoration-none {
        text-decoration: none !important;
    }

    blockquote {
        font-size: 0.95rem;
    }

    #aa-user-info button[data-bs-toggle="dropdown"] {
        border: none;
    }

    .card-title,
    .modal-title {
        color: var(--white);
        display: block;
        font-family: var(--font-family-card-title);
        font-size: 1rem !important;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0.25rem;
        text-shadow: -1px -1px 0 rgb(0 0 0 / 30%);
    }

    /* Overflowing panel: Right padding on vertical overflow */
    .overflowing.overflowing-vertically {
        padding-right: 0.5rem !important;
    }

    /* Overflowing panel: Right padding on vertical overflow */
    .overflowing.overflowing-horizontally {
        padding-bottom: 0.5rem !important;
    }

    /* Character panel: "Add Character" button */
    #aa-dashboard-panel-characters a.btn[href^="/account/characters/add/"] {
        margin-left: 0 !important;
    }

    /* Character panel: "Change Main" button */
    #aa-dashboard-panel-characters a.btn[href^="/account/characters/main/"] {
        margin-right: 0 !important;
    }

    /* Images: Rounded corners, when not defined otherwise already */
    img:not([class*="rounded"], [class*="rounded-circle"]) {
        border-radius: var(--bs-border-radius) !important;
    }

    /* Login page
    --------------------------------------------------------------------------------- */
    body:has(div.card-login) {
        backdrop-filter: none;
        height: 100vh;
        position: relative;
    }

    body:has(div.card-login) div.container {
        backdrop-filter: var(--backdrop-filter-default);
        left: 0;
        margin: 0 !important;
        max-width: 100% !important;
        padding: 2rem 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    body:has(div.card-login) div.container > div.row {
        max-width: 100%;
    }

    /* Sidebar Menu
    --------------------------------------------------------------------------------- */
    #sidebar-menu > li:has(a.nav-link.active),
    #sidebar-menu > li:has(ul.collapse li a.nav-link.active) {
        background-color: var(--background-color-light-transparency);
    }

    #sidebar-menu > li:has(ul.collapse li a.nav-link.active) > a.nav-link {
        color: var(--bs-navbar-active-color);
    }
}
